* {
    padding: 0px;
    margin: 0px;
}
.alphabetsButton button {
    border: none;
    outline: none;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    position: relative;
    left: 1px;
}
canvas{
  color: white;
  border:  white dashed 2px;
  padding: 15px;

}
.catagoryTopic #catagory {
    position: relative;
    left: 10px;
}
input{
    border: none;
    background: transparent;
    font-weight: 800;
    position: relative;
    right: -20px;
}